:root {
  --c-background: #242424;
  --c-text: #f0f0f0;

  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: var(--c-text);
  color-scheme: light dark;
  background-color: var(--c-background);
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

html, body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

main {
  width: 100%;
  height: 100%;
}

#main-image {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: all 0.4s cubic-bezier(0, 0, 0.1, 1.0);

  &.full-size {
    object-fit: cover;
  }

  &.rotate-0 {
    transition: none;
    transform: rotate(0deg);
  }

  &.rotate-1 {
    transform: rotate(90deg);
  }

  &.rotate-2 {
    transform: rotate(180deg);
  }

  &.rotate-3 {
    transform: rotate(270deg);
  }

  &.rotate-4 {
    transform: rotate(360deg);
  }
}

#no-ash {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  > * {
    position: absolute;
    display: flex;
    gap: 0.25em;
  }

  > .upper-left {
    top: 0.25em;
    left: 0.25em;
  }

  > .upper-right {
    top: 0.25em;
    right: 0.25em;
  }

  > .left {
    top: 50%;
    left: 0.25em;
    transform: translateY(-50%);
  }

  > .right {
    top: 50%;
    right: 0.25em;
    transform: translateY(-50%);
  }

  > .bottom {
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    background-color: rgb(0 0 0 / 50%);

    > calendar-root {
      width: 100%;
    }
  }

  > .center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

overlay-button, overlay-button-toggle {
  width: 2em;
  height: 2em;

  &#navigate-before, &#navigate-next {
    width: 3em;
    height: 3em;
  }
}

.hidden {
  display: none;
}
